<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.music.mapper.dao.FeedBackMapper">

	<insert id="saveFeedBack" parameterType="com.yc.music.model.report.Report">
		<![CDATA[  
		  insert into music_feedback(
			userid,content,add_time,phone
           ) 
		  values(
		   #{obj.userid},#{obj.text},now(),#{obj.phone}
	      )
		]]>
	</insert>
	
</mapper>