<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.music.mapper.dao.HotTempMapper">

	<update id="addHotUseNum">
		update music_temp_hot set usenum=(usenum+1) where id=#{id}
	</update>
	
</mapper>