<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.music.mapper.dao.MobileCodeMapper">

    <select id="getMobileCode" resultType="com.yc.music.model.MobileCode">
		<![CDATA[ 
			select code,sendtime,status from music_mobile_code where mobile=#{mobile} and code=#{code} limit 1
		 ]]>
	</select>
	
	<update id="updateCode" parameterType="com.yc.music.model.MobileCode">
		<![CDATA[ 
			update music_mobile_code set status=#{code.status} where mobile=#{code.mobile} and code=#{code.code}
		]]>
	</update>
	
	
	<select id="getMobileCodeByPhone" resultType="com.yc.music.model.MobileCode">
		<![CDATA[ 
			select code,sendtime,status from music_mobile_code where mobile=#{mobile} limit 1
		 ]]>
	</select>
	
	
</mapper>